<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFPye58DxY_ZZ0B_Z1EjugUhWOwU4uQ0k</string>
	<key>GCM_SENDER_ID</key>
	<string>1031329713651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TLRD.Tu-Lancha</string>
	<key>PROJECT_ID</key>
	<string>tu-lancha-rd</string>
	<key>STORAGE_BUCKET</key>
	<string>tu-lancha-rd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031329713651:ios:a7f31648b235a7f6add686</string>
</dict>
</plist>